@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans;
}

@layer utilities {
  .text-preset1 {
    @apply font-bold text-[40px] leading-[120%] tracking-[0px];
  }

  .text-preset2 {
    @apply font-bold text-[24px] leading-[125%] tracking-[0px];
  }

  .text-preset3 {
    @apply font-semibold text-[16px] leading-[150%] tracking-[0px];
  }

  .text-preset4 {
    @apply font-normal text-[14px] leading-[150%] tracking-[0px];
  }

  .text-preset4-bold {
    @apply font-semibold text-[14px] leading-[150%] tracking-[0px];
  }
}

.loader {
  width: 85px;
  height: 50px;
  --g1: conic-gradient(from 90deg at left 3px top 3px, #0000 90deg, black 0);
  --g2: conic-gradient(
    from -90deg at bottom 3px right 3px,
    #0000 90deg,
    black 0
  );
  background: var(--g1), var(--g1), var(--g1), var(--g2), var(--g2), var(--g2);
  background-position: left, center, right;
  background-repeat: no-repeat;
  animation: l9 1s infinite;
}
@keyframes l9 {
  0% {
    background-size: 25px 50%, 25px 50%, 25px 50%;
  }
  25% {
    background-size: 25px 100%, 25px 50%, 25px 50%;
  }
  50% {
    background-size: 25px 50%, 25px 100%, 25px 50%;
  }
  75% {
    background-size: 25px 50%, 25px 50%, 25px 100%;
  }
  100% {
    background-size: 25px 50%, 25px 50%, 25px 50%;
  }
}
